@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

*{
    box-sizing: border-box;
}

body{
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,9,1) 100%, rgba(255,0,0,1) 100%); */
    font-family: 'Anton', sans-serif;
    color: #fff;
    margin: 0;
    /* font-size: 50px; */
    
}

.container{
    margin: auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.flex{
    display: flex;
}

input, button{
    font-size: 20px;
    border: 2px solid #dedede;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 10px 15px;
    margin: 0;
}

input[type='text']{
    width: 300px;
}

.search-btn{
    cursor: pointer;
    border-left: 0;
    border-radius: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.random-btn{
    cursor: pointer;
    margin-left: 10px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.meals{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
    margin-top: 20px;
    /* padding: 10px; */
    /* font-size: 18px;  */
    color: #4682B4;
}



.meal {
    cursor: pointer;
    position: relative;
    height: 200px;
    width: 200px;
    text-align: center;
  
}

.meal img{
    height:100%;
    width: 100%;
    border-radius: 10px;
}

.meal-info{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
    transition: opacity 0.2s ease-in;
    opacity: 0;
}

.meal:hover .meal-info{
    opacity: 1;
}

.single-meal{
    margin: 30px auto;
    width: 70%;
}

.single-meal img{
    width: 300px;
    margin: 15px;
}

.single-meal-info{
    margin: 20px;
    padding: 10px;
}

/* .single-meal p{
    margin: 0;
    letter-spacing: 0.5px;
    line-height: 1.5px;
} */

.single-meal ul{
    padding-left: 0;
    list-style-type: none;
}

@media(max-width: 800px){

}

@media(max-width: 700px){
    
}

@media(max-width: 500px){
    input[type='text']{
        width: 100%;
    }
}